/* START: Web chat styles */

.web-chat {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 3px 2px;
}

.web-chat__content {
  background-color: #009623;
  color: #FFF;
  padding: 30px;
}

.web-chat__menu {
  padding: 10px 30px;
  background-color: #26B11B;
  color: #0A6D12;
}

.web-chat__chat-now {
  margin-top: 20px;
}

.web-chat__title {
  margin-bottom: 20px;
  font-size: 16px;
}

.web-chat__close {
  top: 6px;
  position: relative;
}

/* END: Web chat styles */

/* START: nib-styles/control overrides */

.web-chat .control-feedback-pointer {
  position: absolute;
  bottom: 0;
  right: 8.5px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #a40051;
  display: none;
}

.web-chat .control-feedback-message {
  transition: height 0.5s;
}

.web-chat .control-input-text {
  color: #000000;
}

/* END: nib-styles/control overrides */

